<form>
    <div class="addTask">
        <div class="addTask-meta-invisable">
            <button type="submit"  class="addTask-meta-date" data-key-title="placeholder_set_due_date" title="Задать дату выполнения">
                <span class="addTask-meta-date-label"></span>
                <span class="icon-input-assign-delete"></span>
                <svg class="today" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill-rule="evenodd">
                        <g id="today">
                            <path d="M2.5,7 C2.22,7 2,6.78 2,6.5 L2,3.5 C2,2.68 2.68,2 3.5,2 L16.5,2 C17.32,2 18,2.68 18,3.5 L18,6.5 C18,6.78 17.78,7 17.5,7 L2.5,7 Z M3,6 L17,6 L17,3.5 C17,3.22 16.78,3 16.5,3 L3.5,3 C3.22,3 3,3.22 3,3.5 L3,6 Z M3.5,18 C2.68,18 2,17.32 2,16.5 L2,8.5 C2,8.22 2.22,8 2.5,8 C2.78,8 3,8.22 3,8.5 L3,16.5 C3,16.78 3.22,17 3.5,17 L16.5,17 C16.78,17 17,16.78 17,16.5 L17,8.5 C17,8.22 17.22,8 17.5,8 C17.78,8 18,8.22 18,8.5 L18,16.5 C18,17.32 17.32,18 16.5,18 L3.5,18 Z" id="E"></path>
                        </g>
                    </g>
                </svg>
            </button>
            <div class="addTask-meta-nlp right"> </div>
        </div>
        <a class="plus-wrapper" ng-click="addNewTodoTask(selectedListId)">
            <svg class="plus-small" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"> 
            <g> 
            <path d="M10,10l0,6.5c-0.003,0.053 -0.008,0.103 -0.024,0.155c-0.038,0.116 -0.12,0.217 -0.226,0.278c-0.047,0.027 -0.094,0.042 -0.146,0.056c-0.052,0.008 -0.051,0.008 -0.104,0.011c-0.053,-0.003 -0.103,-0.008 -0.155,-0.024c-0.15,-0.05 -0.271,-0.171 -0.321,-0.321c-0.016,-0.052 -0.021,-0.102 -0.024,-0.155l0,-6.5l-6.5,0c-0.046,-0.002 -0.058,-0.001 -0.104,-0.011c-0.103,-0.022 -0.197,-0.076 -0.268,-0.154c-0.169,-0.188 -0.169,-0.482 0,-0.67c0.035,-0.038 0.077,-0.072 0.122,-0.098c0.078,-0.045 0.161,-0.062 0.25,-0.067l6.5,0l0,-6.5c0.005,-0.089 0.022,-0.172 0.067,-0.25c0.126,-0.219 0.406,-0.31 0.636,-0.207c0.048,0.022 0.093,0.05 0.132,0.085c0.078,0.071 0.132,0.165 0.154,0.268c0.01,0.046 0.009,0.058 0.011,0.104l0,6.5l6.5,0c0.046,0.002 0.058,0.001 0.104,0.011c0.103,0.022 0.197,0.076 0.268,0.154c0.169,0.188 0.169,0.482 0,0.67c-0.035,0.038 -0.077,0.072 -0.122,0.098c-0.078,0.045 -0.161,0.062 -0.25,0.067l-6.5,0Z"></path> 
							</g> 
						</svg>
        </a>
        <input type="text" ng-model="newTodoTaskName" class="addTask-input-chromless" maxlength="255" data-key-placeholder="placeholder_add_task_mobile" data-key-aria-label="placeholder_add_task_to_$" data-placeholder="Входящие" data-aria-label="Входящие" placeholder="Добавить задачу…" aria-label="Добавить задачу в папку «Входящие»…">

        <div class="nlp-feedback"></div>
        <div class="positionHelper">
            <div class="positionHelper-text"></div>
            <div class="positionHelper-target"></div>
        </div>
        <div class="end-positionHelper-target"></div>
        @*<input type="submit" tabindex="-1" style="position: absolute;" />*@
    </div>
</form>
<!-- tasks of list -->
<div class="task-list">
    <ol class="tasks">
        <li ng-repeat="task in tasks | filter: { TaskStateRefId: '1' }" tabindex="0" class="task-item" draggable="true">
            <div class="taskItem-body">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-click="updateStateTodoTask(task.Id, 2);">
                    <div class="taskItem-titleWrapper" tabindex="-1" aria-hidden="true">
                        <span class="taskItem-titleWrapper-title" ng-bind="task.TodoTaskName"></span>
                    </div>
                </label>
            </div>
        </li>
    </ol>

</div>
<div class="task-list-inbox">
    <h2 tabindex="0" aria-role="list" role="heading" class="heading-normal" aria-label="Показать завершенные задачи">
        <a class="groupHeader-completed-items-heading" onclick="showHideElement('completedTaskId');" aria-label="Показать завершенные задачи">
            <text rel="settings_show_completed_tasks_mobile">Показать завершенные задачи</text>
        </a>
    </h2>
    <!-- tasks of list -->
    <div class="task-list" id="completedTaskId" style="display: none;">
        <ol class="tasks">
            <li ng-repeat="task in tasks | filter: { TaskStateRefId: '2' }" tabindex="0" class="task-item-hidden" draggable="true">
                <div class="taskItem-body">
                    <label class="checkbox-inline">
                        <input type="checkbox" checked="true" ng-click="updateStateTodoTask(task.Id, 1);">
                        <div class="taskItem-titleWrapper" tabindex="-1" aria-hidden="true">
                            <span class="taskItem-titleWrapper-title-hidden" ng-bind="task.TodoTaskName"></span>
                        </div>
                    </label>
                </div>
            </li>
        </ol>
    </div>
<div class="tasks-404 hidden"></div>
</div>
